.homePageCardContainer {
  border: 2px solid black;
  border-radius: 10px;
}


.websiteTitle {
  background-color:cornflowerblue;
}

.navMain {
  text-align: center;
  background-color:cornflowerblue;
  height: 30px;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

.navMain a {
  text-decoration: none;
  color: white;
  font-size: larger;

}


.footer {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0px;
  height: 30px;
  width: 100vw;
  color: white;
  font-size: larger;
  text-align: center;
  background-color:cornflowerblue;
}

.beerImage {
  height: 150px;
}
/* 
#root {
  height: 100%;
  background-color: cornflowerblue;
} */

.beerCard {
  display: flex;
  border-bottom: 1px solid black;
  padding: 20px;
}

.beerCardImageContainer {
  width : 150px;
  text-align: center;
}


.beerCardTitle {
  font-weight: bolder;
}

.BeerCardTagLine {
  font-weight: bolder;
  color: grey;
}

.BeerCardCreatedBy {
  font-weight: light;
  color: black;
}